.breadcrumb {
  list-style: none;
  padding-top: 6rem;
  @include for-desktop-up {
    padding-top: 8.5rem;
  }
  li {
    display: inline-block;
    a {
      color: $black-50;
    }

    &:not(:last-of-type)::after {
      content: "/";
      color: $black-50;
      margin: 0 4px;
      font-weight: $medium;
    }

    &:last-of-type {
      font-weight: $medium;
    }
  }
}
