#lightbox {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.85);
  display: none;

  &.active {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
    max-width: calc(100vw - 48px);
    max-height: 90vh;
    width: max-content;
    height: max-content;
    @include for-desktop-up {
      max-height: 80vh;
      max-width: 90vh;
    }
  }
}
