* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: $font-size;
}

body {
  width: 100%;
  position: relative;
  min-height: 100vh;
}

.container {
  padding-right: 16px;
  padding-left: 16px;

  @include for-desktop-up {
    max-width: 1140px !important;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }
}


a {
  color: $black-75;
  text-decoration: none;

  &:active {
    color: $black-75;
  }
}

