$yellow:#FED50A;
$white-100:#ffffff;
$black-100:#000103;
$black-90:#191919;
$black-75:#404040;
$black-50:#808080;
$black-25:#BFBFBF;
$black-10:#E6E6E6;
$orange-soda:#F85A3E;
$cg-blue:#0081A7;


$screen-sm-min: 576px; // Small tablets and large smartphones (landscape view)
$screen-md-min: 768px; // Small tablets (portrait view)
$screen-lg-min: 992px; // Tablets and small desktops
$screen-xl-min: 1200px; // Large tablets and desktops
