$yellow: #fed50a;
$yellow-90: rgb(254, 213, 10, 0.9);
$yellow-70: rgb(254, 213, 10, 0.7);
$yellow-50: rgb(254, 213, 10, 0.3);
$white-100: #ffffff;
$black-100: #000103;
$black-90: #191919;
$black-75: #404040;
$black-50: #808080;
$black-25: #bfbfbf;
$black-10: #e6e6e6;
$orange-soda: #f85a3e;

$screen-sm-min: 576px; // Small tablets and large smartphones (landscape view)
$screen-md-min: 768px; // Small tablets (portrait view)
$screen-lg-min: 992px; // Tablets and small desktops
$screen-xl-min: 1200px; // Large tablets and desktops
$font-size: 14px;
